<section class="text-center bg-white1 text-brun3">
<div class="wrapper p-y-60">
    <h2>Les actualités</h2>
    <article  class="p-40 m-b-40 bg-white2">
        <h3 class="m-0">Titre de l'article</h3>
        <p class="text-s m-b-20">04.01.2018</p>
        <p>Liquor ipsum dolor sit amet scelerisque eget? Egestas brandy alexander sea breeze quisque grog imperdiet quis, "nikolaschka nec salmiakki koskenkorva aberfeldy ipsum ultricies, chicago cocktail porta glen moray murphy's interdum!" Long island iced tea, "fleischmann's, cutty sark scots whisky velit leo ron rico per, jim beam schenley's, dui." Nibh. Brass monkey porta dui arcu ornare sea breeze cragganmore. </p>
    </article>

    <article  class="p-40 m-b-40 bg-white2">
        <h3 class="m-0">Titre de l'article</h3>
        <p class="text-s m-b-20">04.01.2018</p>
        <p>Liquor ipsum dolor sit amet scelerisque eget? Egestas brandy alexander sea breeze quisque grog imperdiet quis, "nikolaschka nec salmiakki koskenkorva aberfeldy ipsum ultricies, chicago cocktail porta glen moray murphy's interdum!" Long island iced tea, "fleischmann's, cutty sark scots whisky velit leo ron rico per, jim beam schenley's, dui." Nibh. Brass monkey porta dui arcu ornare sea breeze cragganmore. </p>
    </article>

    <article  class="p-40 bg-white2">
        <h3 class="m-0">Titre de l'article</h3>
        <p class="text-s m-b-20">04.01.2018</p>
        <p>Liquor ipsum dolor sit amet scelerisque eget? Egestas brandy alexander sea breeze quisque grog imperdiet quis, "nikolaschka nec salmiakki koskenkorva aberfeldy ipsum ultricies, chicago cocktail porta glen moray murphy's interdum!" Long island iced tea, "fleischmann's, cutty sark scots whisky velit leo ron rico per, jim beam schenley's, dui." Nibh. Brass monkey porta dui arcu ornare sea breeze cragganmore. </p>
    </article>
</div>
</section>
