<section class="text-center bg-white1 text-brun3">
    <div class="wrapper p-y-60">
        <h2 class="underline">Les actualités</h2>
        <article class="p-40 m-b-40 bg-white2">
            <h3 class="m-0">Début de la récolte dans nos plantations de canne à sucre</h3>
            <p class="text-s m-b-20">12.02.2018</p>
            <p>
                C'est aujourd'hui que nous récoltons la canne à sucre qui nous avons planté en mai et juin 2017. C'est suite à une année
                de culture, de soins et de patience mais aussi de quelques frayeurs avec les fortes intempéries qui ont frappé
                notre île (voir nos articles "L'ouragan Irma a frappé la Martinique" et "Après Irma, au tour de Maria") que l'on atteint une phase importante pour notre rhum Barburantho. Aujourd'hui
                est pour nous le moment le plus important de l'année. Le jour qui définit l'ensemble de notre travail pour
                l'année qui vient. La récolte démarre avec le sourire sur les visages et la volonté de faire cette année
                un travail encore meilleur que celui de l'an passé pour vous offrir un rhum toujours plus exceptionnel.
            </p>
        </article>
        <article class="p-40 m-b-40 bg-white2">
            <h3 class="m-0">Le Noël Barburantho</h3>
            <p class="text-s m-b-20">24.12.2017</p>
            <p>
              Même si la neige n’est pas prête d’arriver en Martinique, l’esprit de Noël est bien présent dans notre distillerie. Notre sapin de Noël fait de bouteilles de Rhum Barburantho en est la preuve ! Hier soir les employés ont quitté la distillerie pour leurs vacances de Noël qui dureront jusqu’à la nouvelle année. Des vacances où l’intégralité de la production est stoppée car les fêtes de fin d’année sont pour nous les plus importantes de l’année. Elles représentent le partage, la réunion des amis et surtout de la famille, des valeurs chères à notre distillerie. Notre distillerie vous souhaite alors de très bonnes fêtes de fin d’année et de bien profiter des gens que vous aimez.
            </p>
        </article>
        <article class="p-40 m-b-40 bg-white2">
            <h3 class="m-0">Après Irma, au tour de Marie</h3>
            <p class="text-s m-b-20">19.09.2017</p>
            <p>
              Après l’ouragan Irma, l’ouragan Maria a frappé l’île et concernant la distillerie que peu de dégâts se sont ajoutés à ceux initiaux de la semaine précédente. Néanmoins une panne générale d’électricité empêche le redémarrage de la production. La distillerie a alors décidé de concentrer ses efforts sur l’aide à la population le temps que le courant soit rétabli à Saint-Pierre. Il y a beaucoup à faire, de nombreuses maisons sont endommagées, de nombreuses routes sont impraticables et les secours peinent à atteindre les habitations les plus isolées. Nous allons faire de mieux pour aider les personnes qui en ont le besoin et nous souhaitons à toute la population Martiniquaise, ainsi qu’à l’ensemble des personnes touchées par ces intempéries, un bon rétablissement.
        </article>
        <article class="p-40 m-b-40 bg-white2">
            <h3 class="m-0">L’ouragan Irma a frappé la Martinique</h3>
            <p class="text-s m-b-20">10.09.2017</p>
            <p>
              Suite au passage de l’ouragan Irma, l’heure est au bilan. Nous avons eu beaucoup de chance car nos installations n’ont subi que très peu de dégâts matériels. Cela a été possible grâce à la mobilisation de l’ensemble du personnel pour sécuriser le site. Les dégâts les plus nombreux sont évidemment au niveau de la plantation de canne à sucre, mais heureusement les pousses en septembre sont déjà très robustes, la production ne sera alors que peu affectée par ces dégâts. Nous nous préparons désormais à l’arrivée de l’ouragan Maria qui devrait atteindre l’île d’ici une semaine. Entre temps notre distillerie stoppe sa production, afin de permettre à notre personnel de s’occuper de leur foyer et aux volontaires de nous aider à la distribution de vivres, à la réparation et aux renforcements des habitations les plus touchées.
            </p>
        </article>
    </div>
</section>
