<footer>
  <div class="wrapper p-t-60 flex-container">

    <div class="flex-1">
      <ul>
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="/distillerie/histoire">L'histoire</a>
        </li>
        <li>
          <a href="/distillerie/savoir-faire">Le savoir-faire</a>
        </li>
        <li>
          <a href="/distillerie/boutique">La boutique</a>
        </li>
        <li>
          <a href="">Rhums blancs</a>
        </li>
        <li>
          <a href="">Rhums ambrés</a>
        </li>
        <li>
          <a href="">Rhums épicés</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
        <li>
          <a href="/distillerie/faq">FAQ</a>
        </li>
      </ul>
    </div>

    <address class="flex-1">
      <p>Barburantho</p>
      <p>Plantation de la Montagne pelée</p>
      <p>97250 Saint Pierre</p>
      <p>MARTINIQUE</p>
      <p>Tel : 05 82 12 24 70</p>
    </address>

    <div class="flex-1 text-xl text-brun1">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-google-plus-square"></i>
    </div>
  </div>

  <div class="p-b-60 text-center">
    L'abus d'alcool est dangereux pour la santé. A consommer avec modération.
  </div>

</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113243595-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-113243595-1');
</script>
</body>

</html>
