<footer>
  <div class="wrapper p-y-60">
    <address>
      <p>Barburantho</p>
      <p>Plantation de la Montagne pelée</p>
      <p>97250 Saint Pierre</p>
      <p>MARTINIQUE</p>
      <p>Tel : 05 82 12 24 70</p>
    </address>
  </div>


  <a href="/distillerie/faq">FAQ</a>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113243595-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-113243595-1');
</script>
</body>

</html>