<nav>
    <ul class="flex-container is-horizontal-extremes maxw-1024 m-center p-20">
        <li class="flex-2"><a href="/">Barburantho</a></li>
        <li class="flex-1">La Distillerie
            <ul>
                <li><a href="/distillerie/histoire">L'histoire</a></li>
                <li><a href="/distillerie/savoir-faire">Le savoir faire</a></li>
                <li><a href="/distillerie/boutique">La boutique</a></li>
                <!-- <li><a href="/distillerie/faq">FAQ</a></li> -->
            </ul>
        </li>
        <li class="flex-1">Les Rhums
            <ul>
                <li><a href="/rhums/blancs">Les Rhums blancs</a></li>
                <li><a href="/rhums/ambres">Les Rhums ambrés</a></li>
                <li><a href="/rhums/epices">Les Rhums épicés</a></li>
            </ul>
        </li>
    </ul>
</nav>
