<div id="menu-open" class="mobile-only">
    <i class="fas fa-bars text-xl"></i>
</div>
<div id="menu-close" class="mobile-only">
    <i class="fas fa-times text-xl"></i>
</div>

<nav id="menu" class="desktop-only">
    <ul class="flex-container is-horizontal-extremes is-vertical-center maxw-1024 m-center p-20">
        <li class="flex-2">
            <a href="/" class="uppercase">Barburantho</a>
        </li>
        <li class="flex-1">
            <a href="/distillerie">La Distillerie</a>
            <ul>
                <li>
                    <a href="/distillerie/histoire">L'Histoire</a>
                </li>
                <li>
                    <a href="/distillerie/savoir-faire">Le savoir-faire</a>
                </li>
                <li>
                    <a href="/distillerie/boutique">La boutique</a>
                </li>
                <li>
                    <a href="/distillerie/faq">FAQ</a>
                </li>
            </ul>
        </li>
        <li class="flex-1">
            <a href="/rhums">Les Rhums</a>
            <ul>
                <li>
                    <a href="/rhums/blancs">Les Rhums blancs</a>
                </li>
                <li>
                    <a href="/rhums/ambres">Les Rhums ambrés</a>
                </li>
                <li>
                    <a href="/rhums/epices">Les Rhums épicés</a>
                </li>
            </ul>
        </li>
        <li class="flex-1">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>