<nav>
    <ul class="flex-container is-horizontal-extremes maxw-1024 m-center p-20">
        <li class="flex-2">
            <a href="/">Barburantho</a>
        </li>
        <li class="flex-1">
            <a href="/distillerie">La Distillerie</a>
            <ul>
                <li>
                    <a href="/distillerie/histoire">L'Histoire</a>
                </li>
                <li>
                    <a href="/distillerie/savoir-faire">Notre savoir-faire</a>
                </li>
                <!--<li>
                    <a href="/distillerie/boutique">La boutique</a>
                </li>-->
                <li>
                    <a href="/distillerie/faq">FAQ</a>
                </li>
            </ul>
        </li>
        <li class="flex-1">
            <a href="/rhums">Les Rhums</a>
            <ul>
                <li>
                    <a href="/rhums/blancs">Les Rhums blancs</a>
                </li>
                <li>
                    <a href="/rhums/ambres">Les Rhums ambrés</a>
                </li>
                <li>
                    <a href="/rhums/epices">Les Rhums épicés</a>
                </li>
            </ul>
        </li>
        <li class="flex-1">
            <a href="/">Contact</a>
        </li>
    </ul>
</nav>
