/*----------------------------------------------------------------------------------------------*/
/* FORMS */
/*----------------------------------------------------------------------------------------------*/
input,
select,
textarea {
  font-family: $font-family1 !important;
  font-size: 1em;
  width: 100%;
  padding: 20px;
  border: 0;
  box-sizing: border-box;
  resize: vertical;
  background-color: $color-grey5;
  color: $color-grey2;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.tiny-input > input,
.tiny-input > select,
.tiny-input > textarea,
.tiny-input > button {
  padding: 10px !important;
}

// BUTTONS
.button {
  background-color: $color-bth-brun1;
  color: $color-bth-white1;
  padding: 10px;
  // width: 100%;
  display: inline-block;
  &:hover {
    background-color: lighten( $color-bth-brun1, 10% );
    transition: 0.5s;
  }
}
