// Utilities
@import "variables";
@import "mixins";
@import "reset";

// Structure
@import "flexbox";
@import "layout";

// Components
@import "colors";
@import "forms";
@import "typos";

*,
*:after,
*:before {
  box-sizing: border-box !important;
}



.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  // padding: 40px;
}


