#header#
#nav#

<main>
    <section style="height: 100vh;" class="flex-container is-column is-horizontal-center">
        <h1 style="font-size: 7rem !important;">Barburantho</h1>
        <p>« Tous les chemins mènent au rhum »</p>
        <!-- <a href="/rhums">Découvrir nos rhums</a> -->
    </section>

    <section class="text-center bg-white1 text-brun3">
        <div class="wrapper p-y-60">
            <h2>Les Rhums Barburantho</h2>
            <div class="flex-container is-horizontal-extremes">
                <article class="p-40 bg-white2">
                    <h3>Les Rhums blancs</h3>
                    <img src="">
                    <p></p>
                    <a class="button" href="/rhums/blancs">Découvrir</a>
                </article>
                <article class="p-40 bg-white2">
                    <h3>Les Rhums ambrés</h3>
                    <img src="">
                    <p></p>
                    <a class="button" href="/rhums/ambres">Découvrir</a>
                </article>
                <article class="p-40 bg-white2">
                    <h3>Les Rhums épicés</h3>
                    <img src="">
                    <p></p>
                    <a class="button" href="/rhums/epices">Découvrir</a>
                </article>
            </div>
        </div>
    </section>

    <section class="text-center bg-brun3 text-white">
        <div class="wrapper p-y-60">
            <h2>Un savoir-faire unique</h2>
            <article>
                <p>Le rhum martiniquais de la Distillerie Barburantho est un produit raffiné et exquis. Les saveurs passionnantes
                    de cet alcool d’exception sont issues d’un savoir-faire de plus de 300 ans qui nous renvoie aux origines
                    mêmes du rhum. Une connaissance parfaite de tous les aspects du rhum a permis à la distillerie Barburantho
                    d’être reconnue comme l’une des meilleures au monde.</p>
                <a href="/distillerie/savoir-faire">Découvrir notre savoir-faire</a>
            </article>
        </div>
    </section>

    #blog#
</main>


#footer#
