#header#
#nav#

<main>
    <section>
        <h1>Barburantho, la distillerie de rhum</h1>
        <a href="/rhums">Découvrir nos rhums</a>
    </section>

    <section class="text-center">
        <h2>Les Rhums Barburantho</h2>
        <div class="flex-container is-horizontal-extremes">
            <article>
                <h3>Les Rhums blancs</h3>
                <p></p>
                <a href="/rhums/blancs">Voir nos rhums blancs</a>
            </article>
            <article>
                <h3>Les Rhums ambrés</h3>
                <p></p>
                <a href="/rhums/ambres">Voir nos rhums ambrés</a>
            </article>
            <article>
                <h3>Les Rhums épicés</h3>
                <p></p>
                <a href="/rhums/epices">Voir nos rhums épicés</a>
            </article>
        </div>
    </section>

    <section class="text-center">
        <h2>Un savoir-faire unique</h2>
        <article>
            <h3>" Tous les chemins mènent au rhum "</h3>
            <p>Le rhum martiniquais de la Distillerie Barburantho est un produit raffiné et exquis. Les saveurs passionnantes
                de cet alcool d’exception sont issues d’un savoir-faire de plus de 300 ans qui nous renvoie aux origines
                mêmes du rhum. Une connaissance parfaite de tous les aspects du rhum a permis à la distillerie Barburantho
                d’être reconnue comme l’une des meilleures au monde.</p>
            <a href="/distillerie/savoir-faire">Découvrir notre savoir-faire</a>
        </article>
    </section>


    <h2>Les actualités de la maison Barburantho</h2>
    #blog#
</main>


#footer#
