#header# #nav#

<header id="home">
  <video src="/video/drone.mp4" autoplay loop class="animated fadeIn"></video>
  <section class="flex-container is-column is-horizontal-center text-center">
    <h1 class="animated fadeInUpBig">Barburantho</h1>
    <p class="uppercase animated fadeInUpBig">« Rhum d'excellence depuis 1639 »</p>
    <i class="fas fa-chevron-down m-t-100 text-xl animated fadeInUpBig"></i>
    <!--<a href="/rhums">Découvrir nos rhums</a>-->
  </section>
</header>
<main>
  <section class="text-center bg-white1 text-brun3">
    <div class="wrapper p-y-60">
      <h2 class="underline">Les Rhums Barburantho</h2>
      <div class="flex-container is-horizontal-extremes">
        <article class="article-rhum p-40 bg-white2 flex-1">
          <h3>Les Rhums blancs</h3>
          <p>
            Caractérisés par leurs arômes légers et fruités, les rhums blancs Barburantho offrent des saveurs amples et harmonieuses,
            faisant d’eux des rhums de cocktails par excellence.
          </p>
          <a class="button m-t-20 w-full" href="/rhums/blancs">Découvrir</a>
        </article>
        <article class="article-rhum p-40 bg-white2 flex-1">
          <h3>Les Rhums ambrés</h3>
          <p>
            Incontournables parmi les rhums de dégustation, nos rhums ambrés sont issus de la distillation du pur jus de canne et promettent
            des notes à la fois florales et boisées.
          </p>
          <a class="button m-t-20 w-full" href="/rhums/ambres">Découvrir</a>
        </article>
        <article class="article-rhum p-40 bg-white2 flex-1">
          <h3>Les Rhums épicés</h3>
          <p>
            Elaborés à partir d’épices soigneusement sélectionnées, chacun des rhums épicés de la maison Barburantho vous offre une expérience
            de dégustation unique et puissante.
          </p>
          <a class="button m-t-20 w-full" href="/rhums/epices">Découvrir</a>
        </article>
      </div>
    </div>
  </section>

  <section class="text-center bg-brun3 text-white">
    <div class="wrapper p-y-60">
      <h2 class="underline">Un savoir-faire unique</h2>
      <article class="p-x-40">
        <p>Le rhum martiniquais de la Distillerie Barburantho est un produit raffiné et exquis. Les saveurs passionnantes de
          cet alcool d’exception sont issues d’un savoir-faire de plus de 300 ans qui nous renvoie aux origines mêmes du
          rhum. Une connaissance parfaite de tous les aspects du rhum a permis à la distillerie Barburantho d’être reconnue
          comme l’une des meilleures au monde.</p>
        <a class="button m-t-20" href="/distillerie/index">Découvrir notre savoir-faire</a>
      </article>
    </div>
  </section>

  #blog#
</main>


#footer#
