#header# #nav#

<main class="bg-white1 text-brun3">
    <div class="wrapper p-b-60 p-t-120">
        <h1>FAQ</h1>
        <section>
            <article>
              <dl>
                <dt><b>Où peut-on trouver du Rhum Barburantho&nbsp;?</b></dt>
                <dd>On peut trouver et acheter du Rhum Barburantho dans la plupart des grandes surfaces mais aussi dans les bars et établissements partenaires. Barburantho vend ses produits uniquement à des structures et à des professionnels. Seul son magasin d’usine
                  à Saint-Pierre en Martinique propose des produits en petites quantités pour les particuliers. </dd>
                <br>
                <dt><b>Peut-on visiter la distillerie Barburantho&nbsp;?</b></dt>
                <dd>La distillerie peut être visitée gratuitement dans un cadre professionnel (prendre rendez-vous) mais un magasin d’usine est ouvert au public à Saint-Pierre en Martinique.</p>
                  <br>
                  <dt><b>Barburantho peut-il sponsoriser un évènement&nbsp;?</b></dt>
                  <dd>Barburantho a l’habitude de soutenir des festivals de musiques sur tout le territoire Français, mais aussi exceptionnellement des évènement privés, avec comme contrepartie l’autorisation de diffuser et d’afficher des supports de communications
                    de la marque Barburantho.</dd>
                  <br>
                  <dt><b>Qui est la mascotte de Barburantho&nbsp;?</b></dt>
                  <dd>La mascotte de Barburantho est un pirate fictif représentant la marque en raison de son fort penchant pour l’alcool de notre distillerie.</dd>
              </dl>
            </article>
        </section>
    </div>
</main>

#footer#
