#header# #nav# #header# #nav#

<main class="bg-white1 text-brun3">
  <div class="wrapper p-b-60 p-t-120">
    <section>
      <h1>Notre distillerie</h1>
      <article class="p-b-60">
        <h2>Horaires</h2>
        <p>
          La distillerie est ouverte du mardi au samedi, de 8h à 12h et de 14h à 18h.
        </p>
        <p>
          Les visites s'effectuent toutes les demi-heures, du mardi au samedi de 8h30 à 11h30, et de 14h30 à 17h30.
        </p>
        <p>
          Les fermetures annuelles de notre distillerie ont lieu :<br />
          la dernière semaine de décembre, la première semaine de janvier et la première semaine d’août.
        </p>
        <p>
          La distillerie Barburantho est accessible aux personnes à mobilité réduite, elle possède un parking de 200 places, ainsi qu’un restaurant où vous pourrez
          déguster des plats régionaux.
        </p>
        <p>
          Si vous avez des questions sur nos visites, n’hésitez pas à nous contacter. Vous pouvez aussi retrouver des réponses dans <a href="/distillerie/faq">notre Foire aux Questions</a>.
        </p>
      </article>
      <article class="p-b-60">
        <h2>Visites</h2>
        <p>
          Nous vous invitons à visiter gratuitement notre distillerie familiale dans ses locaux installés à Saint-Pierre, à la plantation de la Montagne Pelée. Une partie de la structure a été aménagée afin de devenir un musée sur l’histoire du rhum et de la distillerie
          Barburantho depuis sa création.
        </p>
        <p>
          Les premiers alambics et installations servant à la création du rhum Barburantho ont été conservés et nos techniques de distillation qui ont évoluées à travers les âges vous seront dévoilées. Vous en découvrirez encore plus sur <a href="/distillerie/histoire">notre Histoire</a> et <a href="/distillerie/savoir-faire">notre Savoir-faire vieux de plus de 300 ans</a>.
        </p>
        <p>
          Les visites sont guidées et débutent dans le musée pour continuer ensuite par la présentation des installations actuelles. Vous pourrez alors assister à la distillation, au stockage et au remplissage des bouteilles de rhum Barburantho par nos soins.
        </p>
        <p>
          A la fin de la visite, la dégustation de nos produits vous est offerte, afin de découvrir ou redécouvrir notre gamme de saveurs. Nous répondrons à toutes vos questions, et pourrons vous conseiller sur nos produits et coffrets.
        </p>
        <p>
          Les visites se font en français, anglais, allemand, chinois ou en espagnol.
        </p>
        <p>
          Les visites doivent obligatoirement être réservées pour les groupes de plus de 8 personnes.
        </p>
      </article>
    </section>
  </div>
</main>

#footer#
