#header#
#nav#

<main class="wrapper p-y-60">
    <h1>Les rhums blancs Barburantho</h1>
    <section>
        <article>
            <h2>Corte-Real</h2>
            <p>Mélange délicat d’arôme de jus de canne frais et de notes exotiques (lait de coco, gingembre, banane)</p>
            <a href="">Découvrir</a>
        </article>
        <article>
            <h2>Díaz del Castillo</h2>
            <p>Une bouche dominée tout d'abord par les forts arômes de canne à sucre. Le goût s’ouvre peu à peu sur les agrumes et les touches de vanille</p>
            <a href="">Découvrir</a>
        </article>
        <article>
            <h2>Fernão Pinto</h2>
            <p>Un rhum marqué par une abondance de parfums aux accents exotiques. L’ananas, la mangue et la papaye se mélangent avec harmonie et distinction.</p>
            <a href="">Découvrir</a>
        </article>
    </section>
</main>

#footer#
