#header# #nav#

<main class="bg-white1 text-brun3 text-center">
    <div class="wrapper p-b-60 p-t-120">
        <h1 class="m-b-100">Les rhums épicés Barburantho</h1>
        <section class="flex-container is-horizontal-extremes">
            <article class="maxw-300 flex-container is-column is-horizontal-extremes">
                <h2></h2>
                <p></p>
                <a href="" class="button w-full m-t-20">Découvrir</a>
            </article>
            <article class="maxw-300 flex-container is-column is-horizontal-extremes">
                <h2></h2>
                <p></p>
                <a href="" class="button w-full m-t-20">Découvrir</a>
            </article>
            <article class="maxw-300 flex-container is-column is-horizontal-extremes">
                <h2></h2>
                <p></p>
                <a href="" class="button w-full m-t-20">Découvrir</a>
            </article>
        </section>
    </div>
</main>

#footer#