#header# #nav#

<main class="bg-white1 text-brun3">
    <div class="wrapper p-x-40 ">
        #breadcrub#
        <h1 class="m-b-100">Les Rhums Barburantho</h1>
        <section class=" text-center flex-container is-horizontal-extremes">

            <article class="article-rhum flex-1 flex-container is-column is-horizontal-extremes">
                <img src="">
                <h2>Rhums blancs</h2>
                <p>Caractérisés par leurs arômes légers et fruités, les rhums blancs Barburantho offrent des saveurs amples
                    et harmonieuses, faisant d’eux des rhums de cocktails par excellence.</p>
                <a href="/rhums/blancs" class="button m-t-20">Découvrir</a>
            </article>

            <article class="article-rhum flex-1 flex-container is-column is-horizontal-extremes">
                <img src="">
                <h2>Rhums ambrés</h2>
                <p>Incontournables parmi les rhums de dégustation, nos rhums ambrés sont issus de la distillation du pur jus
                    de canne et promettent des notes à la fois florales et boisées. </p>
                <a href="/rhums/ambres" class="button m-t-20">Découvrir</a>
            </article>

            <article class="article-rhum flex-1 flex-container is-column is-horizontal-extremes">
                <img src="">
                <h2>Rhums épicés</h2>
                <p>Elaborés à partir d’épices soigneusement sélectionnées, chacun des rhums épicés de la maison Barburantho
                    vous offre une expérience de dégustation unique et puissante.</p>
                <a href="/rhums/epices" class="button m-t-20">Découvrir</a>
            </article>
        </section>
    </div>
</main>

#footer#
