#header#
#nav#

<main class="wrapper p-y-60">
    <h1>Les Rhums Barburantho</h1>
    <section>
        <article>
            <img src="">
            <h2>Rhums blancs</h2>
            <p>Caractérisés par leurs arômes légers et fruités, les rhums blancs Barburantho offrent des saveurs amples et harmonieuses,
                faisant d’eux des rhums de cocktails par excellence.</p>
            <a href="/rhums/blancs">Découvrir</a>
        </article>

        <article>
            <img src="">
            <h2>Rhums ambrés</h2>
            <p>Incontournables parmi les rhums de dégustation, nos rhums ambrés sont issus de la distillation du pur jus de
                canne et promettent des notes à la fois florales et boisées. </p>
            <a href="/rhums/ambres">Découvrir</a>
        </article>

        <article>
            <img src="">
            <h2>Rhums épicés</h2>
            <p>Elaborés à partir d’épices soigneusement sélectionnées, chacun des rhums épicés de la maison Barburantho vous
                offre une expérience de dégustation unique et puissante.</p>
            <a href="/rhums/epices">Découvrir</a>
        </article>
    </section>
</main>

#footer#
